/* https://colorhunt.co/palette/1b3c53234c6a456882e3e3e3 */
*{
    background-color: #1B3C53;
    color: whitesmoke;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    width: 90%;
    height: 100vh;
    margin-top: 70px;
    padding: 20px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
}

li{
    display: inline-block;
    padding: 0 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}